*{
    text-decoration: none;
}

.top-nav-bar{
    background-color: #FAA0A0;
    text-align: center;
    padding: 0.5em;
    font-size: 1.4em;
    margin-bottom: 1em;
    text-decoration: none;
    width: 100%;
    position: fixed;
    top: 0;
}

.top-nav-bar ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.top-nav-bar li{
    display: inline-block;
    text-decoration: none;
}

.top-nav-bar a{
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width:100px;
    padding: 15px;
    color: #E9EAE0;
}

.top-nav-bar a:visited{
    text-decoration: none;
    color: #E9EAE0;
}

.top-nav-bar a:hover{
    background-color: #E9EAE0;
    color: black;
    text-decoration: none;
    -webkit-text-stroke-width: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(45deg, #BFB2F3, #96CAF7, #9CDCAA, #E5E1AB,  #F3C6A5, #F8A3A8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
