body{
    background-color: #FAA0A0
}

.top-nav-bar{
    background-color: #FAA0A0
}

.top-nav-bar a{
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.top-nav-bar a:hover{
    background-color: white;
    color: black;
}

.top-nav-bar a.active{
    background-color: #04AA6D;
    color: white;
}